@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url(./section/headerhome.css);
@import url(./section/treding.css);
@import url(./section/destination.css);
@import url(./section/seller.css);
@import url(./section/tour.css);
@import url(./section/guide.css);
@import url(./section/client.css);
@import url(./section/subscribe.css);
@import url(./section/footer.css);

:root{
    --primary-color:#f13033;
    --primary-color-dark:#c3282b;
    --secondary-color:#f9f9f9;
    --text-dark:#0f172a;
    --text-light:#64748b;
    --white:#fff;
    --max-width:1200px;
}

*{
    padding: 0; margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    text-transform: capitalize;
    border: none; outline: none;
    text-wrap: wrap;
}
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
}
::selection{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
/*General styles*/
.section__container{
    max-width: var(--max-width);/*Must specify if we want to add margin:auto*/
    margin: auto;
    padding: 2rem 3rem;
}
.section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.section__title{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
}
.section__nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section__nav span{
    padding: 7px;
    font-size: 1.75rem;
    color: var(--text-dark);
    border: 1px solid var(--text-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    
    &:hover{
        color: var(--white);
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }
}
.btn{
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

    &:hover{
        background-color: var(--primary-color-dark);
    }
}
.badge{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 2px 15px;
    font-size: .9rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: #f0c8c9;
    border-radius: 1rem;
}
img{
    display: flex;
    width: 100%;
}

@media screen and (max-width < 1200px) {
    .destination__container{
        gap: 1rem;
    }
    .footer__container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:900px) {
    .nav__links{
        gap: 1rem;
    }
    .link a{
        padding: 0;
    }
    .trending__grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .destination__grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .destination__card:nth-child(1),
    .destination__card:nth-child(2){
        grid-area: unset;
    }
    .seller__grid{
        grid-template-columns: repeat(2,  1fr);
        gap: 1rem;
    }
    .guide__grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .client__grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .footer__container{
        grid-template-columns: 2fr 1fr;
    }
    .footer__col:nth-child(4){
        grid-area: 2/1/3/2;
    }
}

@media screen and (max-width < 600px) {
    .body{
        font-size: 10px;
    }
    .btn{
        text-wrap: wrap;
        white-space: wrap;
    }
    section{
        width: 100%;
    }
    .nav__links{
        display: none;
    }
    .header__form form{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .trending__grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .destination__grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .seller__grid{
        grid-template-columns:  repeat(1, 1fr);
    }
    .guide__grid{
        grid-template-columns:  repeat(1, 1fr);
    }
    .client__grid{
        grid-template-columns:  repeat(1, 1fr);
    }
    .subscribe__container input{
        padding: 0 1rem;
    }
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
}