.footer__container{
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}
.footer__col h5{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark);
}
.footer__col p{
    max-width: 300px;
    color: var(--text-light);
    line-height: 1.5;
}
.footer__col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-size: 500;
    color: var(--text-dark);
}
.footer__col a{
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    transition: .3s;

    &:hover{
        color: var(--primary-color);
    }
}
.footer__socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}
.footer__socials span a{
    padding: 5px 10px;
    margin: 0;
    font-size: 1.25rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;

    &:hover{
        color: var(--secondary-color);
        background-color: var(--primary-color-dark);
    }
}
.footer__bar{
    padding: 1rem;
    font-size: .8rem;
    color: var(--text-light);
    text-align: center;
}